@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title:</h2>
<h3>@ViewBag.Message</h3>
<style>
    body {
        background-image: url('../../Imagenes/fondoPagina.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<p>Somos una veterinaria que se dedica al cuídado de sus mascotas.</p>
