@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title:</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mata Redonda<br />
    San José, Costa Rica<br />
    <abbr title="Telefono">P:</abbr>
    XXXX-XXXX
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Soporte@lasabanavet">Soporte@lasabanavet.com</a><br />
</address>