@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>Veterinaria La Sabana</h1>
    <p class="lead">Bienvenidos a Veterinaria La Sabana, donde les ofrecemos muy buenos servicios a sus mejores amigos, sus mascotas</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Citas</h2>
        <p>
            Prueba final 12:05 pm . Ingrese a esta página para apuntar una cita.
        </p>
        <p><a class="btn btn-default" href="/Citas/Index">Ingresar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clínicas veterinarias </h2>
        <p>Conozca donde se ubican nuestras veterinarias.</p>
        <p><a class="btn btn-default" href="/Clinicas/Index"> Ingresar &raquo;</a></p>
    </div>
</div>