@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>Veterinaria La Sabana</h1>
    <p class="lead">Bienvenidos a Veterinaria La Sabana, donde les ofrecemos muy buenos servicios a sus mejores amigos, sus mascotas</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Imagenes/cita.jpg" height="310" width="350" />
        <p> </p>
         <p><a class="btn btn-default" href="/Citas/Index"> Agendar cita &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <img src="~/Imagenes/mascotas.jpg" height="310" width="350"/>
        <p> </p>
        <p><a class="btn btn-default" href="/Mascotas/Index"> Mascotas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Imagenes/veterinario.jpg" height="310"  width="350"/>
        <p> </p>
        <p><a class="btn btn-default" href="/Veterinarios/Index"> Veterinarios &raquo;</a></p>
    </div>
</div>