@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>Veterinaria La Sabana</h1>
    <p class="lead">Bienvenidos a Veterinaria La Sabana, donde les ofrecemos muy buenos servicios a sus mejores amigos, sus mascotas</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apunte su cita</h2>
        <p>
            Ingrese a esta página para apuntar una cita a nuestras veterinarias.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Conozca nuestras veterinarias </h2>
        <p>Conozca donde se ubican nuestras veterinarias para así estar mas cerca de proteger a sus mascotas</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>